In [24]:
#This is a demo on web scraping.Uncomment some print statement to have a look at some variables
#I will scrape wikipedia's List of Asisan Countries page and store the countries in dataframe

In [25]:
import requests
#fetches the link we will need
wiki_link = "https://en.wikipedia.org/wiki/List_of_Asian_countries_by_population"
#url of list of asian countries on wikipedia
link = requests.get(wiki_link).text
#converts the link to text when returned to us

In [26]:
#print(link)

In [27]:
from bs4 import BeautifulSoup as BS
soup =BS(link,'lxml')
#beautiful soup lets us work with the html from the wiki page

In [28]:
#print(soup.prettify())
#give some organization to the web page data

In [29]:
#some beautiful soup functions you can use

In [30]:
soup.title

In [31]:
soup.title.string

'List of Asian countries by population - Wikipedia'

In [32]:
soup.a

In [33]:
#soup.find_all("a")

In [34]:
all_links = soup.find_all("a")
#for link in all_links:
    #print(link.get("href"))

In [35]:
all_tables = soup.find_all('table')
#print(all_tables)

In [36]:
#table class is  = 'sortable wikitable sticky-header col2left' when you inspect it on the wikipedia. It can be different over time

In [37]:
target_table = soup.find('table',class_= 'sortable wikitable sticky-header col2left')
#print(target_table)

In [38]:
table_links = target_table.findAll('a')
#table_links

In [39]:
countries = [] # list that holds the countries in the table
for links in table_links: #for all items in the table links we found
    countries.append(links.get('title')) #add the title of those links i.e country that's hyperlinked to a reference, to our empty list called "Countries'
print(countries)

[None, 'India', None, None, 'China', None, None, 'Indonesia', None, None, 'Pakistan', None, None, 'Bangladesh', None, 'Japan', None, 'Philippines', None, 'Vietnam', None, 'Iran', None, 'Turkey', None, None, 'Thailand', None, 'Myanmar', None, 'South Korea', None, 'Iraq', None, 'Afghanistan', None, 'Russia', None, None, 'Saudi Arabia', None, 'Uzbekistan', None, 'Yemen', None, 'Malaysia', None, 'Nepal', None, 'North Korea', None, 'Taiwan', None, None, 'Syria', None, 'Sri Lanka', None, 'Kazakhstan', None, None, 'Cambodia', None, 'Jordan', None, 'Tajikistan', None, 'Azerbaijan', None, None, 'United Arab Emirates', None, 'Israel', None, 'Laos', None, 'Hong Kong', 'China', None, 'Kyrgyzstan', None, 'Turkmenistan', None, 'Singapore', None, 'State of Palestine', None, None, 'Lebanon', None, 'Oman', None, 'Kuwait', None, 'Georgia (country)', None, None, 'Mongolia', None, 'Armenia', None, 'Qatar', None, 'Bahrain', None, 'East Timor', None, 'Cyprus', None, 'Bhutan', None, 'Egypt', None, None, 'Macau', 'China', None, 'Maldives', None, 'Brunei', None]

In [40]:
#convert our country list to a dataframe so we can do some data manipulation using pandas
import pandas as pd
df = pd.DataFrame()
df['Countries'] = countries
df

    Countries
0        None
1       India
2        None
3        None
4       China
..        ...
116      None
117  Maldives
118      None
119    Brunei
120      None

[121 rows x 1 columns]

In [41]:
df = df.dropna() #drop the none/null values we ar seeing
df

                Countries
1                   India
4                   China
7               Indonesia
10               Pakistan
13             Bangladesh
15                  Japan
17            Philippines
19                Vietnam
21                   Iran
23                 Turkey
26               Thailand
28                Myanmar
30            South Korea
32                   Iraq
34            Afghanistan
36                 Russia
39           Saudi Arabia
41             Uzbekistan
43                  Yemen
45               Malaysia
47                  Nepal
49            North Korea
51                 Taiwan
54                  Syria
56              Sri Lanka
58             Kazakhstan
61               Cambodia
63                 Jordan
65             Tajikistan
67             Azerbaijan
70   United Arab Emirates
72                 Israel
74                   Laos
76              Hong Kong
77                  China
79             Kyrgyzstan
81           Turkmenistan
83              Singapore
85     State of Palestine
88                Lebanon
90                   Oman
92                 Kuwait
94      Georgia (country)
97               Mongolia
99                Armenia
101                 Qatar
103               Bahrain
105            East Timor
107                Cyprus
109                Bhutan
111                 Egypt
114                 Macau
115                 China
117              Maldives
119                Brunei

In [42]:
countries = df["Countries"]
df[countries.isin(countries[countries.duplicated()])].sort_values("Countries")
#China is duplicated two times after the first as it has several territories but the scraper catches it as another country
#for simplicity, we will prune all 'china' values except the first one

    Countries
4       China
77      China
115     China

In [43]:
df = df.drop_duplicates(keep ='first')

In [44]:
df

                Countries
1                   India
4                   China
7               Indonesia
10               Pakistan
13             Bangladesh
15                  Japan
17            Philippines
19                Vietnam
21                   Iran
23                 Turkey
26               Thailand
28                Myanmar
30            South Korea
32                   Iraq
34            Afghanistan
36                 Russia
39           Saudi Arabia
41             Uzbekistan
43                  Yemen
45               Malaysia
47                  Nepal
49            North Korea
51                 Taiwan
54                  Syria
56              Sri Lanka
58             Kazakhstan
61               Cambodia
63                 Jordan
65             Tajikistan
67             Azerbaijan
70   United Arab Emirates
72                 Israel
74                   Laos
76              Hong Kong
79             Kyrgyzstan
81           Turkmenistan
83              Singapore
85     State of Palestine
88                Lebanon
90                   Oman
92                 Kuwait
94      Georgia (country)
97               Mongolia
99                Armenia
101                 Qatar
103               Bahrain
105            East Timor
107                Cyprus
109                Bhutan
111                 Egypt
114                 Macau
117              Maldives
119                Brunei

In [45]:
df.duplicated().sum()

0

In [ ]:
#We have now successfully scrapped the list of Asian Countries with no duplicates from wikipedia